* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body
{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fdeaea;
}

/*header*/

.header_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #b30000;
}

.logo-area
{
    display: flex;
    align-items: center;
}

.logo-img
{
    width: 45px;
    height: 45px;
    margin-right: 12px;
    object-fit: contain;
}

.logo-text
{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.dropdown-btn{
    background-color: #b30000;
    color: white;
    border: none;
    text-decoration: none;
    margin-left: 30px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}
.dropdown-btn:hover{
    background-color: #8f0202;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.dropdown{
  position: relative;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f0cccc;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px 16px;
}

.dropdown-menu a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}
.dropdown:hover .dropdown-menu{
  display: block;
}

/*section*/

.menu{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    font-size: 20px;
    color: #fdeaea;
    background-color: #b30000; 
    
}

.menu a {
  display: block;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background-color: #444;
}


/*footer*/

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 30px 10px;
}